# Práctica 2

## Limpieza de datos de votos en la Ciudad de Madrid.

In [1087]:
# Se importan las librerías.
import pandas as pd
import numpy as np

In [1088]:
# Se da nombre a las columnas del dataset.
columns = ["Distrito", "Barrio", "Sección", "Mesa", "Censo", "Abstención", "Acumulado_1", "Nulos", "Acumulado_2", "Blanco", "Acumulado_3"]

In [1089]:
# Se carga el dataset, pero solo para crear la cabecera.
partidos = pd.read_excel("G1240119.xls", nrows = 8, header = None)

In [1090]:
# Se obtiene la lista de partidos políticos.
partidos = partidos.iloc[7:, 11:].values.tolist()[0]

In [1091]:
print(partidos)

['PACMA', 'MAS MADRID', 'P.S.O.E.', 'PH', 'ULEG', 'Cs', 'FE de las JONS', 'PCAS-TC', 'PUM+J', 'P-LIB', 'P.P. ', 'PCTE', 'VOX', 'UPyD', 'PODEMOS-IU']

In [1092]:
# Se concatenan las listas de columnas.
columns = [*columns, *partidos]

In [1093]:
print(columns)

['Distrito', 'Barrio', 'Sección', 'Mesa', 'Censo', 'Abstención', 'Acumulado_1', 'Nulos', 'Acumulado_2', 'Blanco', 'Acumulado_3', 'PACMA', 'MAS MADRID', 'P.S.O.E.', 'PH', 'ULEG', 'Cs', 'FE de las JONS', 'PCAS-TC', 'PUM+J', 'P-LIB', 'P.P. ', 'PCTE', 'VOX', 'UPyD', 'PODEMOS-IU']

In [1094]:
votos = pd.read_excel("G1240119.xls", skiprows = 12, skipfooter=3, header = None)

In [1095]:
votos.columns = columns

In [1096]:
votos['Distrito'] = votos['Distrito'].astype(str).str.zfill(2)
votos['Sección'] = votos['Sección'].astype(str).str.zfill(3)
votos['CodSeccion'] = votos['Distrito'].astype(str) + votos['Sección'].astype(str)

In [1097]:
# Seleccionamos las columnas que se necesitan para la visualización.

votos.drop(['Acumulado_1', 'Acumulado_2', 'Acumulado_3'], inplace=True, axis=1)

In [1098]:
votos.head()

,Distrito,Barrio,Sección,Mesa,Censo,Abstención,Nulos,Blanco,PACMA,MAS MADRID,...,FE de las JONS,PCAS-TC,PUM+J,P-LIB,P.P.,PCTE,VOX,UPyD,PODEMOS-IU,CodSeccion
0,01,11,001,U,892,263,2,8,7,129,...,0,0,0,0,143,0,38,1,35,01001
1,01,11,002,U,626,227,4,0,1,115,...,0,1,1,0,68,0,27,0,37,01002
2,01,11,003,A,526,187,1,1,3,75,...,0,0,0,0,88,0,20,1,15,01003
3,01,11,003,B,665,229,4,3,5,88,...,2,0,0,3,109,1,48,0,27,01003
4,01,11,004,A,463,117,1,1,1,65,...,0,0,1,1,103,0,30,1,19,01004

In [1099]:
# Se guardan los datos limpios.
votos.to_csv("votos_limpio.csv", header = True, index = False)

## Limpieza de Datos de Renta

In [1100]:
columns = ["Distrito/Barrio", "Renta media por persona", "Renta media por hogar", '3', '4']
xlsx = pd.ExcelFile('31097dbs_17.xlsx')
renta = pd.read_excel(xlsx, "Secciones", skiprows=10, skipfooter=2, header=None, dtype={0:str})
renta.columns = columns
renta.drop(['3', '4'], inplace = True, axis = 1)

In [1101]:
renta

     Distrito/Barrio  Renta media por persona  Renta media por hogar
0              01001                    23122                  48783
1              01002                    15211                  29753
2              01003                    17730                  35395
3              01004                    24522                  51687
4              01006                    22679                  43546
...              ...                      ...                    ...
2438           21029                    27451                  89215
2439           21030                    15807                  44027
2440           21031                    16165                  43722
2441           21032                    20782                  57049
2442           21033                    15271                  38786

[2443 rows x 3 columns]

In [1102]:
# Obtenemos el barrio y el distrito por separado.

renta["Distrito"] = renta["Distrito/Barrio"].str[0:2]
renta["Seccion"] = renta["Distrito/Barrio"].str[2:]

In [1103]:
renta.to_csv("renta_seccion.csv", header=True, index=False)